In [1]:
%matplotlib inline
import pandas as pd

In [3]:
cast = pd.read_csv('D://TOPMENTOR//PANDA//cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [10]:
cast[cast['title'].str.endswith("E")]

,title,year,name,type,character,n
3085,Samyy luchshiy film 3-DE,2011,Vitaliy Abdulov,actor,Prorab,66.0
16703,Samyy luchshiy film 3-DE,2011,Vyacheslav Agashkin,actor,Zhurnalist,75.0
25320,Jammin' in the Middle E,2005,Marouf Alameddine,actor,Hakim,NaN
46819,All About E,2015,Cooper George Amai,actor,Club DJ,23.0
54883,That's E,2015,Jeff (LVIII) Anderson,actor,The Rapper,11.0
59697,Samyy luchshiy film 3-DE,2011,Aleksandr Andrienko,actor,Mayor,10.0
62374,Samyy luchshiy film 3-DE,2011,Aleksey Anikin,actor,'Andrey Kavun',41.0
73369,S E Q U E N C E,2015,Robert Arender,actor,Birthday Dad,NaN
82808,Samyy luchshiy film 3-DE,2011,Maksim Artamonov,actor,Okhrannik,24.0
83488,Samyy luchshiy film 3-DE,2011,Zauri Artmeladze,actor,'Nikita Sergeevich',42.0
87077,That's E,2015,Vasilios Asimakos,actor,Sean,1.0
102616,ZOE's SECURITY SERVICE,2017,Robert Babaji,actor,Detlef Dos Santos,4.0
103226,Samyy luchshiy film 3-DE,2011,Nikolay Babenko,actor,Paren 1,93.0
106342,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Second Thief,5.0
106343,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Edna's Fianc?,5.0
106344,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Bank robber,5.0
106345,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Second Sparring Partner,5.0
106346,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Exerciser in Gym,5.0
106347,Charlie gegen ALLE,1963,Lloyd Bacon,actor,Referee,5.0
106783,Samyy luchshiy film 3-DE,2011,Karen Badalov,actor,Dyadya Venya,15.0
113923,S E Q U E N C E,2015,David Aaron Baker,actor,Father James Martin,NaN
122206,Samyy luchshiy film 3-DE,2011,Aleksandr Baluev,actor,Viktor Palych,4.0
123834,Bhalobasa Off Route E,2012,Rahul Banerjee,actor,Sidhartha,NaN
124711,LOVE by CHANCE,2017,Desi Banks,actor,Dante,NaN
131894,Samyy luchshiy film 3-DE,2011,Andrey Barkov,actor,Alkash,31.0
157518,All About E,2015,Robert Bedbrook,actor,Brett,21.0
166764,Samyy luchshiy film 3-DE,2011,Sergey Belov,actor,Reporter,46.0
167300,Samyy luchshiy film 3-DE,2011,Igor (III) Belyaev,actor,Muzhchina v traure,54.0
176794,All About E,2015,Paul Berenger,actor,George,29.0
179633,That's E,2015,Matthew Berke,actor,Patrick,3.0
...,...,...,...,...,...,...
3392090,Bhalobasa Off Route E,2012,Sudarshana Sengupta,actress,Shinjini,NaN
3395410,Wolfe with an E,2011,Cara Seymour,actress,Narrator,NaN
3396141,Sentinel 2099 SE,2016,Ariadne Shaffer,actress,Col. Tennison,NaN
3398944,10ml LOVE,2010,Tara Sharma,actress,Shweta Rai,NaN
3399508,Samyy luchshiy film 3-DE,2011,Valentina Sharykina,actress,Tamara Ivanovna,57.0
3400391,LOVE by CHANCE,2017,Mary (III) Shaw,actress,Marlene,NaN
3410019,Samyy luchshiy film 3-DE,2011,Polina Sibagatullina,actress,Selebriti,104.0
3450652,S.C.I.E.N.C.E,2004,Kali Stivison,actress,Liza,NaN
3466313,Samyy luchshiy film 3-DE,2011,Nadezhda Sysoeva,actress,Selebriti,105.0
3487176,All About E,2015,Melissa (IX) Thompson,actress,Club patron,NaN
3501218,Samyy luchshiy film 3-DE,2011,Natalya (II) Tretyakova,actress,Zhena,53.0
3506147,Samyy luchshiy film 3-DE,2011,Nadia Tumanova,actress,Selebriti,103.0
3512277,Samyy luchshiy film 3-DE,2011,Natalya Ungard,actress,Kontroler,63.0
3525726,LOVE by CHANCE,2017,Terri J. Vaughn,actress,Terri J Vaughn,NaN
3533118,Samyy luchshiy film 3-DE,2011,Mariya Viktorova,actress,Zhenshchina v parke,59.0
3536947,All About E,2015,Indigo Vivian,actress,Child (doorstep),44.0
3539587,All About E,2015,Emma Von Ryan,actress,Club Patron,NaN
3541532,THE LINE,2017,Em?lia V?s?ryov?,actress,Anna Krajnakova,NaN
3542490,That's E,2015,Terri Wade,actress,Happy Customer,29.0
3544635,That's E,2015,Sierra Wales,actress,Shopping Customer,33.0
3553997,ZOE's SECURITY SERVICE,2017,Nikki Waterhouse,actress,Bethany Kaminski,2.0
3560583,All About E,2015,Rachelle (III) Wells,actress,Clubber,NaN
3568541,Sentinel 2099 SE,2016,Kerry Wieder,actress,Corporal Catherine McClean,NaN
3585950,Sentinel 2099 SE,2016,Christa Woomer,actress,Nurse,NaN
3594229,DOWNRANGE,2017,Alexa Yeames,actress,Sara,NaN
3596929,DOWNRANGE,2017,Ikumi Yoshimatsu,actress,Mother,NaN
3600514,Samyy luchshiy film 3-DE,2011,Elena Yushkevich,actress,Selebriti,102.0
3600861,Samyy luchshiy film 3-DE,2011,Irina Zabiyaka,actress,Selebriti,115.0
3609031,Wolfe with an E,2011,Olya Zueva,actress,Shopgirl,NaN
3609828,THE LINE,2017,Rimma Zyubina,actress,Hana Dacej,NaN

### How many movies are listed in the titles dataframe?

In [5]:
cast.title.count()

3611212

### What are the earliest two films listed in the titles dataframe?

In [77]:
cast.sort_values('year',ascending=False).head(2)['title']

2800939    Gnome Alone
3592140    Fetish Trap
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [61]:
y=cast[cast.title=='Hamlet'].groupby(['title']).size()

In [62]:
y

title
Hamlet    313
dtype: int64

### How many movies are titled "North by Northwest"?

In [68]:
p=cast[cast.title=='North by Northwest'].groupby(['title']).size()

In [69]:
p

title
North by Northwest    112
dtype: int64

### When was the first movie titled "Hamlet" made?

In [92]:
y=cast[cast.title=='Hamlet'].sort_values('year',ascending=False).head(1)

In [93]:
y

          title  year           name   type character     n
1592747  Hamlet  2015  Tachia Newall  actor    Priest  13.0

### List all of the "Treasure Island" movies from earliest to most recent.

In [99]:
TL=cast[cast.title=='Treasure Island'].sort_values('year',ascending=False)

In [100]:
TL

,title,year,name,type,character,n
1959741,Treasure Island,1999,Richard Schave,actor,Man,21.0
2660575,Treasure Island,1999,Nigel (II) Cox,actress,Enid,22.0
969021,Treasure Island,1999,George Hirschmann,actor,Admiral,12.0
934507,Treasure Island,1999,Pat Healy,actor,Clark,4.0
1375015,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
880460,Treasure Island,1999,Rio Hackford,actor,Hans,23.0
872384,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
1637661,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1797264,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1869989,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
589900,Treasure Island,1999,Jamie Donovan,actor,John,21.0
1975279,Treasure Island,1999,Dolph Scott,actor,Parker,11.0
445745,Treasure Island,1999,Becket Cook,actor,The Gent,13.0
307749,Treasure Island,1999,Bob Byington,actor,Thomas,12.0
2420089,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
210668,Treasure Island,1999,Jonah Blechman,actor,The Body,3.0
1161085,Treasure Island,1999,Scott King,actor,Walter,15.0
2865358,Treasure Island,1999,Daisy Hall,actress,Penny,8.0
3195608,Treasure Island,1999,Suzy Nakamura,actress,Yo-Ji,5.0
3507587,Treasure Island,1999,Guinevere Turner,actress,Evelyn,14.0
3415912,Treasure Island,1999,Rachel Singer,actress,Anna,6.0
2931880,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
3245250,Treasure Island,1999,Lisa Papineau,actress,Diedre,19.0
114904,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
1964780,Treasure Island,1985,Charles Schmitt,actor,The blind man,12.0
1337318,Treasure Island,1985,Jean-Pierre L?aud,actor,Midas,4.0
1762501,Treasure Island,1985,Melvil Poupaud,actor,Jim Hawkins,14.0
76643,Treasure Island,1985,Pedro Armend?riz Jr.,actor,Mendoza,11.0
2967681,Treasure Island,1985,Anna Karina,actress,Mother,3.0
1157446,Treasure Island,1985,Jeffrey Kime,actor,Timothy (The Squire),9.0
...,...,...,...,...,...,...
590660,Treasure Island,1934,Billy Dooley,actor,Pirate,NaN
598760,Treasure Island,1934,Vernon Downing,actor,Boy at Inn,NaN
611081,Treasure Island,1934,Douglass Dumbrille,actor,Pirate of the Spanish Main,11.0
2006457,Treasure Island,1920,Thomas William Sheffield,actor,Man going over Plank,NaN
2037631,Treasure Island,1920,Joseph Singleton,actor,Israel Hands,7.0
977651,Treasure Island,1920,Harry Holden,actor,Capt. Smollett,9.0
1358420,Treasure Island,1920,Charles Hill Mailes,actor,Dr. Livesey,11.0
3142561,Treasure Island,1920,Josie Melville,actress,Mrs. Hawkins,2.0
3116605,Treasure Island,1920,Shirley Mason,actress,Jim Hawkins,1.0
2088694,Treasure Island,1920,Eli Stanton,actor,Pirate,NaN
1638400,Treasure Island,1920,Charles Ogle,actor,Long John Silver,6.0
1516354,Treasure Island,1920,Bull Montana,actor,Morgan,8.0
374597,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
2164752,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
374598,Treasure Island,1920,Lon Chaney,actor,Merry,5.0
537825,Treasure Island,1920,Sydney Deane,actor,Squire Trelawney,10.0
700670,Treasure Island,1920,Al W. Filson,actor,Bill Bones,3.0
339256,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
3553298,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
1946119,Treasure Island,1918,Lewis Sargent,actor,Ben Gunn,5.0
1261579,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1291387,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
1473574,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
2654214,Treasure Island,1918,Virginia Lee Corbin,actress,Louise Trelawney,2.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
1417884,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN

### How many movies were made in the year 1950?

In [112]:
Count_Mov=cast[cast.year==1950].groupby('year').size()

In [113]:
Count_Mov

year
1950    22006
dtype: int64

### How many movies were made in the year 1960?

In [114]:
Count_1960_mov=cast[cast.year==1960].groupby('year').size()

In [115]:
Count_1960_mov

year
1960    18456
dtype: int64

### How many movies were made from 1950 through 1959?

In [152]:
Between=sum((cast.year>=1950) & (cast.year<=1959))

In [153]:
Between

210986

In [157]:
Between1=cast[(cast.year>=1950) & (cast.year<=1959)].groupby('year').sum()

In [158]:
Between1

             n
year
1950   88787.0
1951   99831.0
1952   96992.0
1953  102531.0
1954  106057.0
1955  103827.0
1956  108142.0
1957  115211.0
1958  134897.0
1959  112761.0

### In what years has a movie titled "Batman" been released?

In [180]:
bat=cast[cast.title=='Batman'].groupby('year').size()

In [185]:
print(bat)

year
1943    52
1989    68
dtype: int64

### How many roles were there in the movie "Inception"?

In [189]:
role=cast[cast.title=='Inception'].groupby('character').size()

In [190]:
role

character
A Passer-By                  1
Airport Patron               3
Ariadne                      1
Arthur                       1
Bar Sub Con                  5
Blonde                       1
Bridge Sub Con               7
Browning                     1
Businessman                  2
Cab Driver                   1
Cobb                         1
Denison                      1
Eames                        1
Elderly Bald Man             1
Extra                        1
Fischer's Driver             1
Fischer's Jet Captain        1
Flight Attendant             1
French Student               1
Hotel Guest                  1
Immigration Officer          1
Italian Gambler              1
James (20 months)            1
James (3 years)              1
Japanese Landing Crew        1
Japanese Security Guard      1
LAX Passenger                3
Lawyer                       1
Lobby Sub Con                5
Mal                          1
Maurice Fischer              1
Miles                        1
Mombasa Casino Cashier       1
Mombasan Cashier             1
Mombasan Casino Staff        1
Mombasan Gambler             1
Nash                         1
Old Cobb                     1
Old Mal                      1
Pedestrian                   2
Penrose Sub Con              3
Phillipa (3 years)           1
Phillipa (5 years)           1
Private Nurse                1
Reporter                     1
Robert Fischer               1
Saito                        1
Saito's Attendant            1
Saito's Bodyguard Officer    1
Stock Broker                 1
Stockbroker                  1
Street Person                1
Tadashi                      1
Thin Man                     1
Yusuf                        1
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [206]:
x=cast[cast.title=='Inception']

In [210]:
r=x[x.n.isnull()]

In [219]:
Not_rank=r.groupby('character').size()

In [220]:
Not_rank

character
A Passer-By                  1
Airport Patron               3
Bridge Sub Con               2
Denison                      1
Extra                        1
French Student               1
Hotel Guest                  1
Italian Gambler              1
Japanese Landing Crew        1
LAX Passenger                3
Mombasa Casino Cashier       1
Mombasan Cashier             1
Mombasan Casino Staff        1
Mombasan Gambler             1
Pedestrian                   2
Reporter                     1
Saito's Bodyguard Officer    1
Stock Broker                 1
Stockbroker                  1
Street Person                1
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [221]:
x=cast[cast.title=='Inception']

In [225]:
role1=x[x.n.notnull()]

In [228]:
good_char=role1.groupby('character').size()

In [229]:
good_char

character
Ariadne                    1
Arthur                     1
Bar Sub Con                5
Blonde                     1
Bridge Sub Con             5
Browning                   1
Businessman                2
Cab Driver                 1
Cobb                       1
Eames                      1
Elderly Bald Man           1
Fischer's Driver           1
Fischer's Jet Captain      1
Flight Attendant           1
Immigration Officer        1
James (20 months)          1
James (3 years)            1
Japanese Security Guard    1
Lawyer                     1
Lobby Sub Con              5
Mal                        1
Maurice Fischer            1
Miles                      1
Nash                       1
Old Cobb                   1
Old Mal                    1
Penrose Sub Con            3
Phillipa (3 years)         1
Phillipa (5 years)         1
Private Nurse              1
Robert Fischer             1
Saito                      1
Saito's Attendant          1
Tadashi                    1
Thin Man                   1
Yusuf                      1
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [232]:
j=cast[cast.title=='North by Northwest'].sort_values('n',ascending=False)

In [238]:
notnull=j[j.n.notnull()]

In [240]:
good_char_n=notnull.groupby('character').size()

In [241]:
good_char_n

character
Auctioneer                     1
Captain Junket                 1
Charley - Chicago Policeman    1
Clara Thornhill                1
Dr. Cross                      1
Eve Kendall                    1
Leonard                        1
Lester Townsend                1
Licht                          1
Mrs. Townsend                  1
Phillip Vandamm                1
Roger O. Thornhill             1
Sergeant Flamm                 1
The Professor                  1
Valerian                       1
Victor Larrabee                1
dtype: int64

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [251]:
sleuth=cast[(cast.year==1972) & (cast.title=='Sleuth')]

In [256]:
ofn=sleuth.sort_values('n',ascending=True)

In [257]:
ofn

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [260]:
sleuth1=cast[(cast.year==2007) & (cast.title=='Sleuth')]

In [262]:
ofn1=sleuth1.sort_values('n',ascending=True)

In [266]:
orderbyn=ofn1[ofn1.n.notnull()]

In [267]:
orderbyn

          title  year           name   type    character    n
314692   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1246855  Sleuth  2007       Jude Law  actor         Milo  2.0
1741124  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [268]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [273]:
silent=cast[(cast.title=='Hamlet') & (cast.year==1921)]

In [280]:
roles3=silent[silent.n.notnull()]

In [289]:
characercredited=roles3.groupby(['character','n']).size()

In [290]:
characercredited

character         n
Claudius          4.0    1
Fortinbras,       9.0    1
Hamlet            1.0    1
Horatio           5.0    1
K?nig Hamlet      2.0    1
K?nigin Gertrude  3.0    1
Laertes           7.0    1
Ophelia           8.0    1
Polonius          6.0    1
dtype: int64

### How many roles were credited in Branagh’s 1996 Hamlet?

In [18]:
v1=cast[(cast.title=='Hamlet') & (cast.year==1996) & (cast.name.str.endswith("Branagh"))]

In [23]:
v1.groupby('character').size()

character
Hamlet    1
dtype: int64

### How many "Hamlet" roles have been listed in all film credits through history?

In [31]:
ham_nro=cast[(cast.title!='Hamlet')].groupby('character').size()

In [30]:
ham_ro=cast[(cast.title=='Hamlet')].groupby('character').size()

In [35]:
diff=(ham_nro != ham_ro).any(1)

ValueError: Can only compare identically-labeled Series objects

### How many people have played an "Ophelia"?

In [36]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [8]:
op=cast[(cast.character=='Ophelia')]

In [11]:
n=op.groupby('name').size()

In [18]:
n.value_counts().sum()

109

### How many people have played a role called "The Dude"?

In [27]:
cast[cast.character=='The Dude'].groupby('name').size().value_counts().sum()

18

### How many people have played a role called "The Stranger"?

In [23]:
stranger1=cast[cast.character=='The Stranger'].groupby('name').size()

In [24]:
stranger1

name
Aaron McGrane           1
Adrienne King           1
Alan Christy            1
Alberto Esparza         1
Aleksandr Rumnyov       2
Alex Diakun             1
Alveraz Ricardez        1
Anders Van Haden        1
Andrew (II) Kines       1
Andrew Espinoza Long    1
Angela Pleasence        1
Anthony Oyeola          1
Antonis Varkaris        1
Arben Biba              1
Arthur Thalasso         1
Axel Kaae               1
Ben (V) Dawson          1
Ben Foster              1
Ben Turpin              1
Bernard Siegel          1
Bill Oberst Jr.         1
Bill Patton             1
Billy Drago             2
Brad Renfro             1
Bradley Page            1
Brian VanDyke           1
Bruce Marchiano         3
C.M. Hallard            1
C.S. Lee                1
Chad (XIII) Johnson     1
                       ..
Shawn Crosby            1
Shivam Reddington       1
Sid Haig                1
Sophia Knolton          1
Ste Cork                1
Steve Noettl            1
Steve Yahnke            1
Steven (II) Richards    1
Suman                   1
Tex Driscoll            1
Tim DeKay               1
Tim Robbins             1
Timothy Muskatell       1
Tomas Milian            1
Tony Anthony            4
Troy Halverson          1
Tully Marshall          1
Ty Hardin               1
Udo Kier                1
Uns Mufti               1
Vincent H. Alexander    1
Wade Mylius             1
Wallace MacDonald       1
Walter Coy              1
William B. Davidson     1
William Kozy            1
William Orlamond        1
William Pike            1
Wojciech Pszoniak       1
Zachary Throne          1
Length: 197, dtype: int64

In [26]:
stranger1.value_counts().sum()

197

### How many roles has Sidney Poitier played throughout his career?

In [8]:
cast[cast.name=='Sidney Poitier'].groupby('character').size().value_counts().sum()

41

### How many roles has Judi Dench played?

In [9]:
cast[cast.name=='Judi Dench'].groupby('character').size().value_counts().sum()

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
roles1=cast[(cast.name=='Cary Grant') & (cast.n==2)].sort_values('year',ascending=False)

In [32]:
roles1.groupby('character').size()

character
Alec Walker                  1
Captain Cummings             1
Charlie Mason                1
David                        1
George Kerby                 1
Gerald Fitzgerald            1
Henry Crocker                1
Jack Clayton                 1
Jeffrey Baxter               1
Jerry Warriner               1
Jimmy Hudson                 1
Jimmy Monkley                1
Johnny Case                  1
Ken Gordon                   1
Lieutenant B.F. Pinkerton    1
Malcolm Trevor               1
Nick                         1
Nick Boyd                    1
Porter Madison III           1
Roger Adams                  1
dtype: int64

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [70]:
roles2=cast[(cast.name=='Cary Grant') & (cast.year<=1940) & (cast.n.notnull())].sort_values('n',ascending=False)

In [71]:
roles2.sort_values('year',ascending=False)

,title,year,name,type,character,n
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840379,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
840359,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
840352,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
840340,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
840354,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
840392,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
840402,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
840408,Topper,1937,Cary Grant,actor,George Kerby,2.0
840413,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
840412,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
840387,Suzy,1936,Cary Grant,actor,Andre Charville,3.0
840388,Sylvia Scarlett,1936,Cary Grant,actor,Jimmy Monkley,2.0
840337,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
840391,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
840347,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
840414,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
840398,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
840363,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
840404,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
840339,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
840361,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
840334,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0
840403,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
840384,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
840358,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
840350,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
840395,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
840355,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
840365,Merrily We Go to Hell,1932,Cary Grant,actor,Charlie Baxter,9.0
840364,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
840385,Sinners in the Sun,1932,Cary Grant,actor,Ridgeway,8.0
840406,This Is the Night,1932,Cary Grant,actor,Stephen Mathewson,5.0
840345,Devil and the Deep,1932,Cary Grant,actor,Lt. Jaeckel,4.0
840366,Merrily We Go to Hell,1932,Cary Grant,actor,'DeBrion' in play,9.0
840338,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0

### How many roles were available for actors in the 1950s?

In [76]:
cast[cast.year==1950].groupby('character').size().value_counts().sum()

15007

### How many roles were available for actresses in the 1950s?

In [83]:
cast[(cast.year==1950) & (cast.type!='actor')].groupby('character').size().value_counts().sum()

4052

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [91]:
lr=cast[(cast.year<=1980) & (cast.n==1)].sort_values('year',ascending=True)

In [95]:
lr.groupby('character').size().value_counts().sum()

51200

### How many non-leading roles were available through from the beginning of film history through 1980?

In [100]:
nlr=cast[(cast.year<=1980) & (cast.n>=15)].sort_values('year',ascending=True) ##consider n >15 is non leading character ##

In [101]:
nlr.groupby('character').size().value_counts().sum()

79311

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [102]:
minor=cast[(cast.year<=1980) & (cast.n.isnull())]

In [105]:
minor.groupby('character').size().value_counts().sum()

186116